<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMariaCafeController</servlet-name>
        <servlet-class>controller.FindMariaCafeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntroductionController</servlet-name>
        <servlet-class>controller.IntroductionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CakeDetailController</servlet-name>
        <servlet-class>controller.CakeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCakeController</servlet-name>
        <servlet-class>controller.ListCakeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMariaCafeController</servlet-name>
        <url-pattern>/FindMariaCafeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntroductionController</servlet-name>
        <url-pattern>/IntroductionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CakeDetailController</servlet-name>
        <url-pattern>/CakeDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCakeController</servlet-name>
        <url-pattern>/ListCakeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
